* xref:index.adoc[icon:laptop-code[] WP7: Software & Benchmarking]
** xref:concepts.adoc[Concepts]

* xref:frameworks.adoc[icon:cubes[] Frameworks]
{% for pkg in frameworks %}
** xref:frameworks/{{ pkg.slug }}.adoc[{{ pkg.name }}]
{% endfor %}

* xref:applications.adoc[icon:rocket[] Applications]
{% for app in applications %}
** xref:applications/{{ app.slug }}.adoc[{{ app.name }}]
{% endfor %}
